@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input,
select {
	@apply text-surface-700;
}

.selected {
	@apply bg-tertiary-300;
}

.fade-in {
	transition: background-color 0.2s ease;
}

.icon {
	transition: transform 0.3s ease;
}

.icon.rotate {
	transform: rotate(90deg);
}
